<div class="education">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                <p>EDUCATION</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b> MCA : Master of Computer Application </b><br />
                        <b>AKTU, Lucknow.</b> Jul 2015 - Jul 2018<br/>
                        I have completed 3 years computer science course. I have secured 74% marks in post<br />
                        graduation.<br />
                        <br/>
                        <b>BCA: Bachelor's Of Computer Science</b><br />
                        <b>CSJM, Kanpur  :</b>Jul 2012 - Jul 2015<br />
                        I have completed 3 years computer science course . i have secured 61% marks in<br />
                        graduation.<br/>
                        <br/>
                        <b>Intermediate</b><br/>
                        <b>UP Board</b> Jul 2011<br/>
                        sepecialization : PCM<br/>
                        <br/>
                        <b>High School</b><br/>
                        <b>UP Board</b> Jul 2009<br/>
                        sepecialization : PCM
                        </p>
                </div>
            </div> 
        </div> 
    </div>
</div>

