.postion{
    color: gray;
};
.new5{
    border: 2px solid black;
    height: 3px;
    width: 100%;
}
.left-profile{
    margin-top: 20px;
    // border: 1px solid black;
}
.right-profile{
    margin-top: 20px;
    // border: 1px solid black;
}
.right-profile p.rigt-side1{
    margin-left: 157px 
}
.right-profile p.rigt-side4{
    margin-left: 267px 
}
.right-profile p.rigt-side2{
    margin-left: 263px;
}
.right-profile p.rigt-side3{
    margin-left: 145px;
}
.right-profile p i{
    color: #239bd7;
}