<!-- <header> -->
<div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <div class="left-profile">
                <h1>Saurabh Gupta</h1>
                <h4 class="postion">MEAN STACK DEVELOPER </h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="right-profile">
                <p class="rigt-side1">saurabh.gup890&#64;gmail.com <i class="fa fa-envelope pettle" aria-hidden="true"></i> </p>
                <p class="rigt-side2"> 7398894383 <i class="fa fa-mobile-phone pettle" style="font-size:20px"></i></p>
                <p class="rigt-side4"> Delhi , India <i class="fa fa-map-marker pettle"></i></p>
                <p class="rigt-side3"> linkedin.com/in/saurabhgup890 <i class="fa fa-linkedin pettle"></i></p>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="new5"></div>
        </div>
    </div>
 
</div>
<!-- </header> -->


