
.right-profile{
    padding-bottom: 50px;
    padding-top: 50px;

}
.space{
     margin-top: 20px; 
}

.btn{
    margin-left: 550px;
    background-color:#239bd7;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn:hover {
    background-color: #239bd7;
  }