<div class="software">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                <p>SOFTWARE<br/>
                    TOOLS</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b> • Microsoft Visual Studio, • Sublime Text, • Postman, Robo3T, • MongoDbCompass</b>
                        </p>
                </div>
            </div> 
        </div> 
    </div>
</div>

