<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- <div class="modal-content"> -->
            <div class="modal-header">
					<div class="col-md-10 text-center">
						<h5 class="modal-title"><b>COVER PAGE</b></h5>
					</div>
					<div class="col-md-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
            </div>
            <div class="modal-body">
				<div class="coverName">
					<p class="mainName">Saurabh Gupta</p>
					<p class="desgination">Software Development Engineer</p>
				</div>
				<div class="coverAddress">
					<h5><b>Address</b> Noida, UP, 201301</h5>
					<p><b>Phone</b> 7398894383</p>
					<p><b>E-mail</b> saurabh.gup890&#64;gmail.com</p>
			   </div>
			   <div class="coverCompany">
					<p>{{this.currentDateAndTime}}</p>
					<p>Kloudrac Software Pvt Ltd</p>
					<p>RE: MEAN Stack Developer</p>
				</div>
				<div class="coverBodyHeading">
					<h5>Dear Hiring Manager,</h5>
				</div>
				<div class="coverBodyDetails">
					<p>
						<span class="peraOne">Throughout my career, I have contributed to impacting business outcomes through effective</span> <br/>
						<span class="peraTwo">organization, prioritization, and execution of key projects. My skills and qualifications are an ideal match</span><br/>
						<span class="peraThree">to the MEAN Stack Developer requirements and will bring immediate value to Kloudrac Software Pvt Ltd </span><br/>
						goals.
				   </p>
					<p>
						<span class="peraFour">Previously, in my MEAN Stack Developer role, I exercised a calculated and methodical approach to</span><br/>
						<span class="peraFive">problem solving. I am independently motivated, yet I appreciate team efforts and collaborate</span><br/> 
						<span class="peraSix">productively within groups. Additionally, I am knowledgeable in javascript and programming with </span><br/>
						<span class="peraSeven">proficiency in troubleshooting and resolving software problems.</span>
					</p>
					<p>
						<span class="peraEight">Because my professional goals align with Kloudrac Software Pvt Ltd's mission and values, this opportunity is </span><br/>
						<span class="peraNine">especially exciting. I believe my problem-solving, innovation and teamwork abilities will support and drive</span><br/>
						<span class="peraTen">your continued organizational success.</span>
					</p>
					<p>
						<span class="peraElven">To demonstrate the scope of my career history and professional competencies, please take a moment to </span><br/>
						<span class="peraTwel">review my attached resume. I appreciate your evaluation of my credentials and subsequent response.</span>
					</p> 
					<p>Thank you, in advance, for your consideration.</p>
					<p>
						Best regards,<br>
						Saurabh Gupta
					</p>
				</div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" (click)="dowloadCover()">Download</button>
            </div>
          <!-- </div> -->
      </div>
    <!-- </div> -->
  </div>


