// .modal-header .close {
//     margin-top: 0%;
//     margin-left: 77%;
// }
h5.modal-title{
margin-left: 82px;
}
.mainName{
    font-size: 40px;
}
.desgination{
    color: black;
    font-weight: bold;
}
.coverAddress{
    padding-top: 17px;
}
.coverCompany p{
    padding-top: 14px;
}
.coverBodyHeading{
    padding-top: 14px;
}

.coverBodyDetails p{
    padding-top: 14px;
}
.coverBodyDetails p span.peraOne{
    word-spacing: 17px;
}

.coverBodyDetails p span.peraTwo{
    word-spacing: 8px;
}
.coverBodyDetails p span.peraThree{
    word-spacing: 7px;
}
.coverBodyDetails p span.peraFour{
    word-spacing: 10px;
}
.coverBodyDetails p span.peraFive{
    word-spacing: 15.5px;
}
.coverBodyDetails p span.peraSix{
    word-spacing: 15px;
}
.coverBodyDetails p span.peraSeven{
    word-spacing: 8px;
}

.coverBodyDetails p span.peraEight{
    word-spacing: 6px;
}
.coverBodyDetails p span.peraNine{
    word-spacing: 9px;
}
.coverBodyDetails p span.peraTen{
    word-spacing: 8px;
}
.coverBodyDetails p span.peraElven{
    word-spacing: 8px;
}
.coverBodyDetails p span.peraTwel{
    word-spacing: 8px;
}




.container {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  .content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }