
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">Large modal</button> -->
<!-- 
  <div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalScrollableTitle">COVER PAGE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              COVER PAGE
            </div>
                             <div class="modal-footer"> -->
                            <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <!-- </div> -->
          <!-- </div>
      </div>
    </div>
  </div> --> 






<div class="experience">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                    <p>EXPERIENCE</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b>Mean Stack Developer</b><br />
                        <b> Pactap (Aero Business Solutions Pvt.Ltd)</b> Sep 2023 - Present<br />
                        This is product base company thats provide customise packaging solution. in the<br />
                        targeted market of North America Region. my role in this company to develop Pactap
                        portal for market place.<br />
                        <b>Projects :</b><br />
                        &nbsp;<b>Pactap:</b><br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; I have implement new features in pactap
                        portal in Customer ,Seller and Admin<br />
                        &nbsp;&nbsp;&nbsp;side.<br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; Also add and change functionality for
                        pactap portal<br />
                        &nbsp;&nbsp; Ex- Quick Quote, View quick quotes in admin, etc.<br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i> &nbsp;Implement backend api and
                        Database.<br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; Handing server deployment pactap
                        panel.<br />
                        <b>Technology /Tools : Angular, Node js, javaScript, MongoDB, Express,<br />
                            git Hub, c-panel , Jira, AWS EC2 .</b><br />
                    </p>
                </div>
            </div>

        </div>
        <div class="row space1">
            <div class="col-sm-4">
                <div class="right-profile">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b>Mean Stack Developer</b><br />
                        <b>Kloudrac Softwares Pvt Ltd(worked with Times Internet(Dineout),
                            Hungama , Working with CarDekho(GirnarSoft))</b><br />
                        Nov 2020 - Sep 2023<br />
                        This is a service based company which are committed to deliver value-driven<br />
                        solutions and scalable results for the success of our clients, partners and<br />
                        communities.<br />
                        <b>Projects :</b><br />
                        &nbsp;<b>StrategyBox:</b><br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; I have implemented strategy box in
                        backend.(CarDekho)<br />
                        &nbsp;&nbsp;&nbsp;Work done in the rules and strategy making techniques with handling various<br />
                        &nbsp;&nbsp;&nbsp; operators.(CarDekho)<br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i> &nbsp;Implement many Api's and modules of the project.(CarDekho)<br />
                        <b>Middleware and bankLoan system :</b><br/>
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i>  &nbsp;I have also worked on the middleware project and bank loan system api.<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(CarDekho)<br />
                        &nbsp;<b>HungamaMusic-PlayList :</b><br />
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; I have implemented HungamaMusic playlist api and handle search list music api <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;in backend.(Hungama Mumbai)<br />
                        &nbsp;<b>Dineout :</b><br />
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i> &nbsp;I hvae worked with Dineout project api resolved bugs and error and change<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;request and responce according to requirement.<br/>
                        &nbsp;<b>Technology /Tools : Node js, javaScript, MongoDB, Bit bucket, Jenkin,<br/>
                        &nbsp;Kibana,Jira,mysql ,confluence, AWS lambda . </b><br/>
                    </p>
                </div>
            </div>

        </div>
        <div class="row space1">
            <div class="col-sm-4">
                <div class="right-profile">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b>Mean Stack Developer</b><br />
                        <b>Mobcoder Technology Pvt Ltd (Noida)</b> Oct 2019 - Oct 202<br/>
                        Mobcoder is a design and development company.It take an innovative approach to<br />
                        solving real-world problems through app design and development.<br />
                        <b>Projects :</b><br />
                        &nbsp;<b>Healthy Planeat:</b><br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; I have developed a website Healthy Planeat. it is an web-based , for farmer can<br />
                        &nbsp;&nbsp;&nbsp;provide the sell inventory among the wholeseller and consumer. I have worked in<br />
                        &nbsp;&nbsp;&nbsp; backend. I have create Api's.<br />
                        &nbsp;<b>Insured-trustee: :</b><br/>
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i> &nbsp; I have developed website Insured-trustee.it is an web-based, its provide<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;insurance and insurance information. I have worked in fronted and backend in<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;both and also used third party Api's of microsoft.<br/>
                        &nbsp;<b> NapDetect App :</b><br />
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; I have developed AdminPanel of NapDetect App . it is an app-based ,as well as <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;web-based ,face detect when you dirve car.If you sleep while driving car then<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;detect your eyes and ring alarm For alert. I have create adminPanel in angular.<br />
                        &nbsp;<b>Technology /Tools: Node js,Angular,javaScript, MongoDB,Bit bucket,<br/>
                        &nbsp;Jenkin,AWS(S3 Buscket) .</b><br/>
                    </p> 
                </div>
            </div>

        </div>
        <div class="row space1">
            <div class="col-sm-4">
                <div class="right-profile">
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p><b>Mean Stack Developer</b><br />
                        <b>Shipgig Ventures Pvt Ltd (Noida)</b> Feb 2018 - Sep 2019<br/>
                        Shipgig is an innovative technology & business driven professional service firm<br />
                        providing Customized Software Development & Web based Solutions to our esteemed<br />
                        client across the word.<br/>
                        <b>Projects :</b><br />
                        &nbsp;<b>Garo Estate :</b><br />
                        &nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp; In this I have developed a website Garo Estate. it is an web-based provide<br />
                        &nbsp;&nbsp;&nbsp;online book property for rent ,sell and ragister your property for sell.<br />
                        &nbsp;&nbsp;&nbsp; I have worked in fronted and backend in both. I have also used 3rd party<br />
                        &nbsp;&nbsp;&nbsp; Libraries/Services.<br />
                        &nbsp;<b>Zira Mart :</b><br/>
                        &nbsp;&nbsp;<i class="fa fa-circle" style="font-size:8px"></i>&nbsp;  I have developed Ionic App Zira Mart.<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;this application is used to provide the new designer clothes to its clients, Its kind<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;of e-commerce app for a particular store. it also contains the payment geteway<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;functionality. i have worked in fronted and backed both , consuming API's using<br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;Ionic, Designing and bug fixes.<br/>
                        &nbsp;<b>Technology /Tools : Html,css,bootstrap,Node js,<br/>
                        &nbsp;Angular,javaScript, MongoDB,Bit bucket, Jira , Jenkin .</b><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>          