<div class="summary">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                <p>SUMMARY</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p>I am 5+ years experience in Mean Stack developer I have To work in a pragmatic way<br/>
                       in an organization where I can show my talent and enhance my skills to meet<br/>
                       company goals and objective with full integrity and zest</p>
                </div>
            </div> 
        </div> 
    </div>
</div>
