<div class="certificate">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                <p>CERTIFICATION</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                  <p>
                    <b>• Certificate course in Web Application Development from SIS Tech.</b><br/>
                    <b>• Certificate of Course on Computer Concepts (CCC) by NIELIT.</b><br/>
                    <b>• IT Smart Training Certificate issued by Asian Pacific Learning Leverage Ltd (APLL).</b>
                  </p>
                    
                </div>
            </div> 
        </div> 
    </div>
</div>

