<div class="technology">
    <div class="container">
        <div class="row space">
            <div class="col-sm-4">
                <div class="right-profile">
                <p>LANGUAGES<br/>
                    &<br/>
                    TECHNOLOGY</p>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="left-profile">
                    <p>• HTML5, CSS, BOOTSTRAP,Node.JS, Angular, MongoDB,JavaScript, TypeScript, MYSQL,<br/>
                        Express.Js, swagger, AWS-Services(Lambda(serverless), S3 bucket).<br/>
                        <br/>
                       <b>Skill-set :</b> <br/>
                       <b> • Social Media Integrations</b> : Facebook<br/>
                       <b> • Third Party</b> : JWT,Facebook, SendGrid<br/>
                       <b> • Source Control</b> : BitBucket, GITLab, Jira, Jenkins, confluence .<br/>
                       <b> • Others</b> : Stripe, Paytm, Redis.<br/>
                        </p>
                </div>
            </div> 
        </div> 
    </div>
</div>
